/* reset de margenes */
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #0B0B0B;
}

a{
  text-decoration: none;
  color: white;
  font-family: verdana;
  font-size: 25px;
  padding-right: 5px;
  padding-bottom: 5px;
}

ul{
  margin-top: 1px;
  margin-bottom: 10px;
  padding-top: 5px;
}

ul a{
  margin-right: 20px;
}

.contenedores {
  margin: 0 3%;
}

.contenedores header{
  text-align: center;
  /* background-color: #6E6E6E; */
  background: radial-gradient(circle, #D8D8D8, #0B0B0B);
}

.contenedores img {
  width: 70%;
  height: 70%;
}

.contenedores header nav{
  background-color: #090909;
  text-align: center;
  border-top: 5px solid #088A08;
  border-bottom: 5px solid #088A08;
}

.contenedores header nav ul a:hover{
    color: black;
    background: white;
}

main{
  /* background: radial-gradient(circle, #111, #0B0B0B); */
  background-color: #0B0B0B;
    /* background: #000000 url("Imagenes/fondo.jpg"); */
}

/* .linkmenu {
  color: white;
  text-align: center;
  font-family: verdana;
  padding-top: 5%;
  padding-bottom: 5%;
} */

.box{
  display: block;
  text-align: center;
  border-radius: 8px;
  margin: 1% auto;
  padding: 20px;
  width: 50%;
  border-left: 6px solid #088A08;
  background-color: black;
}

.box img{
  width: 100%;
  height: 50%;
}

footer{
  background: #004601;
  border-radius: 8px;
  margin: 3% auto;
  padding: 2% 2% 0 2%;
  width: 70%;
}

footer label{
  color: white;
  font-size: 20px;
  font-family: verdana;
  padding-right: 1%;
  margin-bottom: 1%;
}

.vehiculo{
    border-bottom: 4px solid green;
    text-align: center;
    margin: 1% 0;
}

#nombre, #mail, #mensaje {
  border-radius: 4px;
}

#nombre, #mail{
  height: 25px;
  margin-bottom: 2%;
}

#nombre{
  margin-bottom: 2%;
  margin-right: 2%;
  width: 30%;
}

#mail{
  width: 40%;
}

#mensaje{
  width: 100%;
}

#boton{
  margin: 8px 0;
  color: white;
  width: 20%;
  font-size: 20px;
  border-radius: 8px;
  background-color: #131212;
  cursor: pointer;
  border-color: black;
}

.buttonHolder {
  text-align: center;
}

#copy {
  color: #BDBDBD;
  font-size: 10px;
  text-align: center;
  padding: 0 30%;
  margin-bottom: 3%;
}

/* HTML 1 */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 5% auto;
    color: white;
}

td, #text-tr th {
  border: 3px solid #1C1C1C;
  text-align: center;
  padding: 1% 1%;
  background-color: black;
}

td{
  color: #BDBDBD;
  background-color: black;
  vertical-align:top;
}

td ul li{
  padding-bottom: 10px;
  margin-left: 25px;
  text-align: left;
}

#text-tr{
  font-size: 20px;
}

#img-tr {
  border-top: 3px solid #1C1C1C;
}

#img-tr th img{
  margin: 4% auto;
  height: auto;
}

/* HTML 2 */

ol{
  width: 70%;
  margin: 5% auto;
  padding: 2% 2%;
  background-color: black;
  border-radius: 8px;
}

ol li{
  background: #0B0B0B;
  margin-left: 5%;
  color: #BDBDBD;
  padding: 1% 1%;
  font-size: 30px;
  font-family: helvetica;
}

.financiado{
  color: #BDBDBD;
  width: 70%;
  margin: auto;
  padding-bottom: 1%;
  font-size: 20px;
  font-family: helvetica;
}
