.contenedores {
  border: 1px solid black;
  margin-left: 30px;
  margin-right: 30px;
}

.contenedores header{
    text-align: center;
}

.contenedores img {
  width: 70%;
  height: 70%;
}

.cuerpo{

    background: #000000 url("Imagenes/fondo.jpg");
}

.box{
  display: block;
  background: #131212;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  padding: 20px;
  width: 50%;
  margin-bottom: 5%;
}

.box img{
  width: 100%;
  height: 50%;
}

h1{
  color: white;
  text-align: center;
  font-family: fantasy;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contenedores footer{
  background-color: violet;
}

.logomendez {
    width: 70%;
}

.menuprincipal{
  background-color: #090909;
  text-align: center;
  border-top: 5px solid #088A08;
  border-bottom: 5px solid #088A08;
  margin-bottom: 10px;
}

.menuprincipal ul a:hover{
    color: black;
    background: white;
}

a{
  text-decoration: none;
  color: white;
  font-family: verdana;
  font-size: 30px;
  padding-right: 5px;
  padding-bottom: 5px;
}

ul{
  margin-top: 1px;
  margin-bottom: 10px;
  padding-top: 5px;
}
