/* reset de margenes */
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #0B0B0B;
}

a{
  text-decoration: none;
  color: white;
  font-family: verdana;
  font-size: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
}

ul{
  margin-top: 1px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.contenedores {
  margin: 0 3%;
}

.contenedores header{
  text-align: center;
  /* background-color: #6E6E6E; */
  background: radial-gradient(circle, #D8D8D8, #0B0B0B);
}

.contenedores img {
  width: 70%;
  height: 70%;
}

.contenedores header nav{
  background-color: #090909;
  text-align: center;
  border-top: 5px solid #088A08;
  border-bottom: 5px solid #088A08;
}

.contenedores header nav ul a:hover{
    color: black;
    background: white;
}

main{
  /* background: radial-gradient(circle, #111, #0B0B0B); */
  background-color: #0B0B0B;
    /* background: #000000 url("Imagenes/fondo.jpg"); */
}

/* .linkmenu {
  color: white;
  text-align: center;
  font-family: verdana;
  padding-top: 5%;
  padding-bottom: 5%;
} */

.box{
  display: block;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto 3% auto;
  padding: 20px;
  width: 50%;
  border-left: 6px solid #088A08;
  background-color: black;
}

.box img{
  width: 100%;
  height: 50%;
}

footer{
  background: #004601;
  border-radius: 8px;
  margin: 3% auto;
  padding: 2%;
  width: 70%;
}

/* form{
  display: inline-block;
} */

footer label{
  color: white;
  font-size: 15px;
  font-family: verdana;
  padding-right: 1%;
}

#virtus, #cronos, #peugeot{
    border-bottom: 4px solid green;
}

#nombre{
  margin-bottom: 2%;
  margin-right: 2%;
  width: 30%;
}

#mail{
  width: 40%;
}

#mensaje{
  border-radius: 3px;
  width: 100%;
}

#boton{
  margin: 8px 0;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 100%;
  border-radius: 8px;
  background-color: #131212;
  cursor: pointer;
  border-color: black;
}

#copy {
  color: #BDBDBD;
  font-size: 10px;
  text-align: center;
  padding: 0 30%;
  margin-bottom: 3%;
}

/* HTML 1 */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 5% auto 5% auto;
    color: white;
}

td, #text-tr th {
  border: 3px solid #1C1C1C;
  text-align: center;
  padding: 1% 1%;
  background-color: black;
}

td ul{
  color: #BDBDBD;
  margin: 0;
  background-color: black;
}

td ul li{
  padding-bottom: 10px;
  margin-left: 25px;
  text-align: left;
}

#text-tr{
  font-size: 20px;
}

#img-tr {
  border-top: 3px solid #1C1C1C;
}

#img-tr th img{
  border: none;
  margin: 4% auto 3% auto;
  width: 90%;
  height: 110%;
}
